/* red = #c32126 */
/* yellow = #f5d40d  */
/* orange = #e78931  */
/* lightblue = #3dc2db  */
/* grey = #c5c5c5  */
/* green = #359846 */
/* white = #ffffff */
/* bluegrey = #9cc6e1  */
/* darkblue = #143557 */

/* background blue = #095a9c */
* {

    font-family: Arial, Helvetica, sans-serif;

    /* Avenir or Helvetica */

}


:root {
    --nav-primary-color: #095a9c;
    --nav-secondary-color: #143557;

}

body {
    margin: 0;
}

.first-row {
    position: relative;
    max-height: 1%;
}

#login-button {
    position: absolute;
    right: 0;
    top: 10%;
}


.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
    position: relative;
    color: white;
    width: 15%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 0.5%;
}

.nav-button:hover {
    cursor: pointer;
    font-size: larger;
}

.nav-button h2 {
    transition: all .3s ease;
    text-decoration: none;
}



.nav-button h2 ::after {
    transition: all .3s ease;
    text-decoration: underline;
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}

.nav-button h2 :hover::after {
    transform: scale(1);
    text-decoration: underline;
}

.row {
    display: flex;
    flex-wrap: wrap;
}



.sub-dropdown-head {
    width: 20%;
}

#mbv-logo {
    width: 70%;
    /* height: 100%; */
    cursor: pointer;
}

#logo-div {
    padding-left: 2%;
    width: 25%;
}


h2 {
    font-size: 1.7rem;
}


.dropdown-content {
    position: absolute;
    background-color: var(--nav-primary-color);
    width: 100%;
    top: 100%;
    text-align: left;
    opacity: 0;
    transform: translateY(-2em);
    z-index: 2;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    visibility: hidden;
}

.nav-button:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
}

.container {
    max-width: none;
    padding-left: 0;
}


nav {
    height: 10%;
    border-top: 2px solid var(--nav-secondary-color);
    background-color: var(--nav-primary-color);
}

.dropdown-content p:hover {
    transition: 0.3s;
    background-color: var(--nav-secondary-color);
    color: white;
}

p {
    padding: 15px;
    margin: 0;
}


.dashboard-dropdown p:hover {
    transition: 0.3s;
    background-color: var(--nav-secondary-color);
    color: white;
}

#dashboard:hover~.dashboard-dropdown {
    display: flex;
}

#dashboard {
    padding-left: 0;
}

.dashboard-dropdown {
    display: flex;
    position: absolute;
    background-color: var(--nav-primary-color);
    z-index: 1;
    top: 100%;
    left: 0;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    color: white;
    width: 600%;
    opacity: 0;
    transform: translateY(-1em);
    z-index: 2;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    visibility: hidden;
}

.nav-button:hover .dashboard-dropdown {
    display: flex;
    color: white;
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
}

.dashboard-dropdown:hover {
    display: flex;
    cursor: pointer;
    background-color: var(--nav-primary-color);
}

.sub-dropdown-head {
    text-align: center;
    height: 100%;
    padding-bottom: 2%;
    font-size: larger;
    /* border-bottom: 2px solid var(--nav-secondary-color); */
    transition: 0.3s;
}

.sub-dropdown-head:hover {
    transition: 0.3s;
    /* background-color: var(--nav-secondary-color); */
    color: white;
}

.sub-dropdown-head:hover::after {
    transition: 0.3s;
    box-shadow: 10px 10px 5px grey;
}



.sub-dropdown-content p:hover {
    transition: 0.3s;
    /* background-color: var(--nav-secondary-color); */
    color: white;
}

.sub-dropdown-content {
    position: absolute;
    background-color: var(--nav-primary-color);
    width: 20%;
    top: 100%;
    text-align: left;
    box-shadow: 10px 5px 5px grey;
    /* border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px; */
    opacity: 0;
    transform: translateY(-1em);
    z-index: 2;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    visibility: hidden;
    /* border-bottom: 2px solid var(--nav-secondary-color);
    border-right: 2px solid var(--nav-secondary-color);
    border-left: 2px solid var(--nav-secondary-color); */


    /* margin-left: 1%; */


}

.sub-dropdown-head:hover .sub-dropdown-content {
    color: white;
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
}


p {
    font-size: 1.3rem;
}

.end-point-highlight:hover {
    background-color: var(--nav-secondary-color);

}

@media (max-width: 1100px) {


    .nav-button {
        width: 25%;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
    }


    #dashboard {
        margin-left: 0;
    }

    .dashboard-dropdown {
        width: 400%;
    }



}

/* @media (max-width: 640px) {
    .nav-button {
        width: 50%;
    }

    .dashboard-dropdown {
        width: 200%;
        margin-left: 20%;
    }
} */